<ng-template [ngIf]="level === 1">
  <div fxLayout="row" fxLayoutGap="1px"  fxLayoutAlign=" end">
    <img src="assets/icons/yellow-star.svg">
    <img src="assets/icons/gray-star.svg">
    <img src="assets/icons/gray-star.svg">
    <img src="assets/icons/gray-star.svg">
    <img src="assets/icons/gray-star.svg">
  </div>
</ng-template>
<ng-template [ngIf]="level === 2">
  <div fxLayout="row" fxLayoutGap="1px" fxLayoutAlign=" end">
    <img src="assets/icons/yellow-star.svg">
    <img src="assets/icons/yellow-star.svg">
    <img src="assets/icons/gray-star.svg">
    <img src="assets/icons/gray-star.svg">
    <img src="assets/icons/gray-star.svg">
  </div>
</ng-template>
<ng-template [ngIf]="level === 3">
  <div fxLayout="row" fxLayoutGap="1px"  fxLayoutAlign=" end">
    <img src="assets/icons/yellow-star.svg">
    <img src="assets/icons/yellow-star.svg">
    <img src="assets/icons/yellow-star.svg">
    <img src="assets/icons/gray-star.svg">
    <img src="assets/icons/gray-star.svg">
  </div>
</ng-template>
<ng-template [ngIf]="level === 4" >
  <div fxLayout="row" fxFlexFill fxLayoutGap="1px"  fxLayoutAlign=" end">
    <img src="assets/icons/yellow-star.svg">
    <img src="assets/icons/yellow-star.svg">
    <img src="assets/icons/yellow-star.svg">
    <img src="assets/icons/yellow-star.svg">
    <img src="assets/icons/gray-star.svg">
  </div>
</ng-template>
<ng-template [ngIf]="level === 5" >
  <div fxLayout="row" fxFlexFill fxLayoutGap="1px"  fxLayoutAlign=" end">
    <img src="assets/icons/yellow-star.svg">
    <img src="assets/icons/yellow-star.svg">
    <img src="assets/icons/yellow-star.svg">
    <img src="assets/icons/yellow-star.svg">
    <img src="assets/icons/yellow-star.svg">
  </div>
</ng-template>
