<mat-toolbar color="primary">
  <div fxLayout="row" fxFlexFill fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="85">
      <div fxLayout="row" fxFlexFill fxLayoutGap="100px">
        <div fxLayout="column" fxFlex="30" fxLayoutAlign="center">
          <span class="second font-bold font-size-24">Bookshop</span>
        </div>
        <div fxLayout="column" fxFlex="40">
          <div fxLayout="row" fxFlexFill fxLayoutGap="40px">
            <div fxLayout="column" fxFlex="25" fxLayoutAlign="center">
              <button class="height-90 full-width second font-black font-size-10 btn-transparent button">BOOKS</button>
            </div>
            <div fxLayout="column" fxFlex="25" fxLayoutAlign="center">
              <button class="height-90 full-width second font-black font-size-10 btn-transparent button">AUDIOBOOKS</button>
            </div>
            <div fxLayout="column" fxFlex="25" fxLayoutAlign="center">
              <button class="height-90 second font-black font-size-10 btn-transparent button">STATIONERY & GIFTS</button>
            </div>
            <div fxLayout="column" fxFlex="25" fxLayoutAlign="center">
              <button class="height-90 second font-black font-size-10 btn-transparent button">BLOG</button>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="30">
          <div fxLayout="row" fxFlexFill fxLayoutGap="40px" fxLayoutAlign="end">
            <div fxLayout="column" fxLayoutAlign="center" fxFlex="5">
              <img src="assets/icons/user.svg" width="15" height="15">
            </div>
            <div fxLayout="column" fxLayoutAlign="center" fxFlex="5">
              <img src="assets/icons/search.svg" width="15" height="15">
            </div>
            <div fxLayout="column" fxLayoutAlign="center" fxFlex="5" >
              <div fxLayout="row" matBadgeSize="small" [matBadge]="selectedBooksNumber.toString()" matBadgeColor="warn" [matBadgeHidden]="selectedBooksNumber === 0" >
                <img src="assets/icons/shop-bag.svg" width="15" height="15"  >

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</mat-toolbar>
