<div fxLayout="row" fxFlex="50">
  <div fxLayout="column" fxFlex="100">
    <div fxLayout="row" fxFlex="30" fxLayoutAlign="center end">
      <span class="font-semi-bold font-size-25 color-black">BIG SUMMER SALE</span>
    </div>
    <div fxLayout="row" fxFlex="40" >
      <div fxLayout="column" fxFlex="40" fxLayoutAlign="center end">
        <span class="font-bold font-size-60 white font-shadow" >up</span>
      </div>
      <div fxLayout="column" fxFlex="20" fxLayoutAlign="end center">
        <span class="font-black font-size-180 white font-shadow-value" >60</span>
      </div>
    </div>
    <div fxLayout="row" fxFlex="30" fxLayoutAlign="end" >
      <div fxLayout="column" fxFlex="40" fxLayoutAlign="center start">
        <span class="font-bold font-size-60 white font-shadow" >%</span>
      </div>
    </div>
  </div>
</div>
<div fxLayout="row" fxFlex="50" class="p-b-30" fxLayoutGap="30px">
  <img src="assets/icons/readers/number-one.svg" width="100%" height="100%">
  <img src="assets/icons/readers/number-two.svg" width="100%" height="100%">
  <img src="assets/icons/readers/number-three.svg" width="100%" height="100%">
  <img src="assets/icons/readers/number-four.svg" width="100%" height="100%">

</div>
