/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/variables.scss";
@import "./assets/styles/app";
html, body {
  min-width: fit-content;
  height: 100%;
  margin: 0;
  font-family: $bodyFont;
}
